<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wyncode Cycles</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/assets/js/default.js"></script>
</head>
<body>
  <div class="container">
    <div class="headerRow dark">
      <div class="rowAnchors">
        <a class="backgroundAnimated" href="#">Warranty</a>
        <a class="backgroundAnimated" href="#">Login</a>
        <a class="backgroundAnimated" href="#">Register</a>
      </div>
    </div>
    <div class="menu dark">
      <div class="mainLogo">
        <i class="icon-redM">
          <svg><use xlink:href="assets/img/ui.svg#logo-red-m" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        </i>
        <i class="icon-redA">
          <svg><use xlink:href="assets/img/ui.svg#logo-red-a" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        </i>
      </div>
      <div class="navItems">
        <a href="#" class="backgroundAnimated">Story</a>
        <a href="#" class="backgroundAnimated">Thinking</a>
        <a href="#" class="backgroundAnimated">Shop</a>
        <a href="#" class="backgroundAnimated">Reviews</a>
        <a href="#" class="backgroundAnimated">Blog</a>
        <a href="#" class="backgroundAnimated">Contact</a>
        <a href="#" class="backgroundAnimated">Basket</a>
      </div>
      <div class="search">
        <i class="icon-search">
          <svg><use xlink:href="assets/img/ui.svg#search-red" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        </i>
      </div>
    </div>
    <div class="pageContent dark">
      <div class="mainSlider">
        <div class="sliderWrapper">
          <div class="sliderImages">
            <img src="/assets/img/stage-slider-1.jpg" />
            <img src="/assets/img/stage-slider-2.jpg" />
            <img src="/assets/img/stage-slider-3.jpg" />
            <img src="/assets/img/stage-slider-4.jpg" />
            <img src="/assets/img/stage-slider-5.jpg" />
            <img src="/assets/img/stage-slider-6.jpg" />
          </div>
          <a href="" class="sliderNav prev">
            <i class="icon-leftRed">
              <svg><use xlink:href="assets/img/ui.svg#chevron-left-red" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
            </i>
          </a>
          <a href="" class="sliderNav next">
            <i class="icon-rightRed">
              <svg><use xlink:href="assets/img/ui.svg#chevron-right-red" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
            </i>
          </a>
        </div>
        <div class="sliderOverlay">
          <i class="main-logo-large">
            <svg><use xlink:href="assets/img/ui.svg#mason-badge-white" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
          </i>
          <i class="rideDrivenDesign">
            <svg><use xlink:href="assets/img/ui.svg#rdd-white" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
          </i>
        </div>
      </div>
      <div class="blackArgyle">
        <div class="square"></div>
      </div>
    </div>
  </div>
</body>
</html>
